.booking {
  background: $color-tory-blue url("../img/booking-bg-desktop.jpg") no-repeat;
  background-size: cover;

  @include vp-1023 {
    background: $color-tory-blue url("../img/booking-bg-tablet.jpg") no-repeat;
    background-size: cover;
  }

  @include vp-767 {
    background: $color-tory-blue url("../img/booking-bg-mobile.jpg") no-repeat;
    background-size: cover;
  }
}

.booking__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}

.booking__description {
  margin: auto 0;

  & br {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 52px;
  }

  @include vp-767 {
    margin-bottom: 33px;

    & br {
      display: inline;
    }
  }

  & h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 0 0 7px 60px;
    text-align: left;

    @include vp-1023 {
      font-size: 34px;
      line-height: 51px;
      margin: 0 0 3px 0;
      text-align: center;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 13px;
    }
  }

  & p {
    max-width: 360px;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 7px 60px;

    @include vp-1023 {
      margin: 0 auto;
      text-align: center;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.booking__form {
  @include vp-767 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
}
