.booking-form {
  display: flex;
  flex-direction: column;
  padding: 44px 50px 49px;
  margin-left: 117px;
  margin-right: 60px;
  background-color: $color-tangaroa;

  @include vp-1023 {
    margin: 0 137px;
  }

  @include vp-767 {
    margin: 0;
    padding: 35px 30px 40px;
  }

  & p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;
    margin: 0 0 27px;

    @include vp-767 {
      line-height: 25px;
      margin-bottom: 29px;
    }
  }

  & input {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $color-tangaroa;
    margin: 0 0 20px 0;
    padding: 11px 16px;
    background-color: $color-alice-blue;
    border: none;

    &::placeholder {
      color: $color-tangaroa-transparent;
    }
  }

  & input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: $color-alice-blue;
    padding-left: 23px;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.8;
    }

    @include vp-767 {
      padding-left: 27px;
      margin: 0 auto 10px 0;
      text-align: start;
      line-height: 11px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      width: 18px;
      height: 18px;
      background-color: $color-alice-blue;

      @include vp-767 {
        top: 0;
        transform: translateY(0);
      }
    }
  }

  & input[type="checkbox"]:focus + label {
    outline: 2px solid $color-default-black;
    border-radius: 2px;
  }

  & input[type="checkbox"]:checked + label::after {
    content: "";
    background: url("../img/svg/checkbox-checked.svg") no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;

    @include vp-767 {
      left: 3px;
      top: 5px;
    }
  }

  & input[type="submit"] {
    padding: 11px 15px;
    margin: 0;
  }
}

.booking-form__checkbox-wrapper {
  position: relative;
  margin-bottom: 22px;
  margin-top: 3px;

  & input {
    top: 10px;
    left: 10px;
  }

  @include vp-767 {
    margin-right: auto;
    margin-bottom: 18px;
    margin-top: 0;
  }
}
