.header {
  background: $color-endeavour url("../img/header-bg-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 4px 4px $color-black-transparent;

  @include vp-1023 {
    background: $color-endeavour url("../img/header-bg-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: none;
  }

  @include vp-767 {
    background: $color-endeavour url("../img/header-bg-mobile.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.header__container {
  min-height: 650px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "logo nav" "title title";

  @include vp-1023 {
    min-height: 638px;
    grid-template-columns: 1fr 6fr;
  }

  @include vp-767 {
    min-height: 500px;
    grid-template-columns: 1fr 3fr;

    &--nojs {
      display: flex;
      flex-direction: column;
    }

    &--nojs .header__logo,
    &--menu-opened .header__logo {
      display: none;
    }

    &--nojs .header__nav {
      display: block;
      background-color: $color-tangaroa;
      margin: 0;
    }

    &--menu-opened::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: $color-allports-transparent;
      z-index: 0;
    }

    &--menu-opened .header__nav {
      position: absolute;
      display: block;
      background-color: $color-alice-blue;
      margin: 0;
      min-width: 285px;
      height: 100vh;
      right: -15px;
      z-index: 1;
      padding: 20px 30px 0 15px;
      overflow: auto;
    }

    &--nojs .header__title-wrapper {
      margin-top: 70px;
    }

    &--nojs .header__menu-toggle {
      display: none;
    }
  }
}

.header__logo {
  grid-area: logo;
  margin-top: 35px;

  @include vp-1023 {
    margin-top: 30px;
  }

  @include vp-767 {
    margin-top: 20px;
  }
}

.header__nav {
  grid-area: nav;
  margin: 35px 0 25px auto;

  @include vp-1023 {
    margin: 22px 0 20px auto;

    & .main-nav__item {
      margin-right: 18px;
    }

    & .main-nav__item:last-child {
      margin-right: 0;
    }
  }

  @include vp-767 {
    display: none;

    & .main-nav__item {
      margin-bottom: 8px;
    }
  }

  & a {
    color: $color-alice-blue;
  }
}

.header__menu-toggle {
  display: none;

  @include vp-767 {
    grid-area: nav;
    padding-top: 47px;
    margin-right: -15px;
  }
}

.header__title-wrapper {
  grid-area: title;
  color: $color-alice-blue;
  margin: 53px 28px 25px 95px;
  padding: 0;

  @include vp-1023 {
    margin: 55px 28px 25px 0;
  }

  @include vp-767 {
    margin: 10px 0 0;
  }

  & h1 {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    text-shadow: $color-black-transparent 0 4px 4px;

    @include vp-1023 {
      font-size: 50px;
      line-height: 61px;
      text-shadow: none;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 45px;
    }
  }

  & p {
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 16px;
    }
  }
}
